.page-header {
  margin-top: 40px;
}

.search-form {
  margin-top: 40px;
  margin-bottom: 40px;
}

#loaderDiv {
  display:none;
}

#next-page {
  display:none;
}
#previous-page {
  display:none;
}

.top-margin {
  margin-top: 20px;
}
